
@{
    ViewBag.Title = "ThongKe";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<h2>SỐ NGƯỜI Đã TRUY CẬP</h2>
<span>@ViewBag.SoNguoiTruyCap</span>


<h2>SỐ NGƯỜI ĐANG ONLINE</h2>
<span>@ViewBag.Online</span>
